/* Web Fonts ----------------------- */
@font-face {
  font-family: 'Abolition Regular';
  src: url(../fonts/abolition-regular-webfont.woff) format('woff');
}
/* Best if fontfaces are saved on webservers */


/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

h1,
h2 {
  font-family: 'Aboltion Regular', Impact, Charcoal, sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  color: #454959;
  font: 300 100%/1.5 'Work Sans', sans-serif;
  /* font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5; */

  /* Line-height doesn't use assigned values */

  margin: 1rem;
  /* A font stack is used as a fall back for fonts that aren't websafe */
}

h1 {
  font-size: 4rem;
  text-shadow: 1px 2px 3px rgba(0,10,30,.5);

  /* text-shadow: -10px 5px  0 blue,
                8px 16px 0 yellow; 
    text shadows can take multiple inputs*/
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  width: 100%;
  /* responsive images */
}


/* Main Styles --------------------- */

header {
  padding: 10vh 1rem;
  background-color: #f3753b;
  color: white;
  margin: -1rem -1rem 1rem;
}

header, footer {
  text-align: center;
}

.title {
  letter-spacing: 1px;
}

main {
  hyphens: auto;
}

/* Media Queries ------------------- */