{{ define "main" }}
<h1>This is the Single Template (Single Page)</h1>
<h2>This will show up on every singple page template</h2>
<p>The content is below</p>
<hr>
<h3>File Title from Front Matter - {{ .Title }}</h3>
<h4>Date Published - {{ .Date }}</h4>
{{ .Content }}
<hr>
<br>
<h2>Functions</h2>
{{ truncate 25 "This is a really long string that has a lot of characters" }} {{ add 24 1 }} {{ singularize "characters"}}

<hr>
{{ .Title }} -- {{ .Date }} -- {{ .Permalink }} <br>

  
{{ .Params.myVariable }} <br>

{{ $myVarName := "aString"}}

<span style="color: {{ .Params.color }};">{{ $myVarName }}</span> - This changes color based on front matter

{{ end }}

{{ define "footer" }}
<h1>This is the single footer</h1>
<!-- This will override base of template for sinlge pages -->
{{ end }}