{{ define "main" }}
{{ partial "header" . }}
{{ partial "dictHeader" (dict "myTitle" "Custom Dict Title" "myDate" "Custom Dict Date - Today")}}

{{ $image := resources.Get "images/afterl1feLogo.png"}}
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
<h1>This is the Single Template (Single Page)</h1>
<h2>This will show up on every singple page template</h2>
<p>The content is below</p>
<hr>
<h3>File Title from Front Matter - {{ .Title }}</h3>
<h4>Date Published - {{ .Date }}</h4>
{{ .Content }}
<hr>
<br>
<h2>Functions</h2>
{{ truncate 25 "This is a really long string that has a lot of characters" }} {{ add 24 1 }} {{ singularize
"characters"}}

<hr>
{{ .Title }} -- {{ .Date }} -- {{ .Permalink }} <br>


{{ .Params.myVariable }} <br>

{{ $myVarName := "aString"}}

<span style="color: {{ .Params.color }};">{{ $myVarName }}</span> - This changes color based on front matter

<h2>If then Statements</h2>
{{ $var1 := 2 }}
{{ $var2 := 2 }}
{{ $var3 := 3 }}
{{ if and (lt $var1 $var2) (lt $var1 $var3) }}
<p>Var 1 less than var 2 and var 3.</p>
{{ else }}
<p>Var 1 greater than var 2 and/or var 3</p>
{{ end }}

{{ $currentPage := .Title }}
{{ range .Site.Pages }}
<li><a href="{{ .Permalink }}" style=" {{ if eq .Title $currentPage}}background-color: yellow; {{ end }}">{{ .Title }}</a></li>
{{ end }}


<hr>
<h2>Data Files Structure</h2>
{{ range .Site.Data.usCapitols}}
 {{ .name }} - {{ .capital }} <br>
{{ end }}

{{ end }}

{{ define "footer" }}
<h1>This is the single footer</h1>
<!-- This will override base of template for sinlge pages -->
{{ end }}