/* 
Selector {
    Decloration Block Property: Value;
 } 
 */


/* Universal Selector */
* {}


/* Type/Element Selector */
p {
    color: olive;
    font-size: 26px;
}

header {
    background-color: orange;
}

footer {
    background-color: lightcoral;
}

a {
    color: darkblue;
    background-color: peachpuff;
    text-decoration: none;
}


/* ID Selector - Only can target one element*/
#skills-list {
    background-color: lightskyblue;
    padding: 36px;
}

#education {
    border: red 3px solid;
}

/* Class Selector - Can target multiple elements and even have multiple to same element */
.top-skill {
    font-weight: bold;
    background-color: teal;
    color: papayawhip;
}

/* Descendant Selectors - Will select element that are nested within another */
ul li {
    text-decoration: none;
    list-style-type: none;
}


/* Psuedo classes - Unique states that a part a page can be in such as first list item or hovering */
a:visited {
    color: firebrick;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: papayawhip;
    text-decoration: underline;
}

img:hover {
    border: blue 8px solid;
}

a:focus {
    color: black;
    background-color: orange;
}

ol li:first-child {
    font-weight: bold;
}
