
/* This is one way to make the header flush with the edges of the page */

/* body {
    margin: 0px;
}

article, aside, footer {
    margin: 8px;
} */

*{
    box-sizing: border-box;
}

/* Border box includes box size and border */

header {
    background-color: #294969;
    color: ghostwhite;
    padding: 10px 15px 10px 15px; 
    /* Short hand for padding instead of applying to top, right, left, and bottom */
    /* Reltative values are both based on the width of box, not the height */

    border: orange 12px solid;
    /* short hand for width, style, and color */


    margin: -8px -8px 20px;
    /* Negative values only work for margin, can be used to extend box */

    height: 25vh;
    /* Viewport height */
}

footer {
    width: 200px;
    padding: 4px;
    border: 2px solid #ffa949;
    margin: 30px auto 15px;
    color: #294969;
    font-size: .8rem;
    text-align: center;
}

section {
    min-height: 100vh;
    padding: 1rem;
    border-bottom: 2px dotted #666;
    background-color: azure;
}

aside img, #bio {
    width: 600px;
    max-width: 100%;
}

#bio {
    width: 600px;
    padding: 2rem;
    border: 5px solid tomato;
    background-color: mistyrose;
}