

/*universal selector is an asterick *, overrides all others*/
/*CSS has many different data types, such as Integers, Numbers, percentages, colors, etc*/

* {
    box-sizing: border-box;
}

/*Type/element selectors*/

body {
    color: #878787;
    margin: 0;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 5.625rem; /* 90px/16px */
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
}

h2 {
    font-size: 53px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: .5em; /*26px*/ 
}

h3 {
    font-size: 20px;
    color: #48525c;
    margin-bottom: 1.7em; /*34px*/
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

ul,
ol {
    list-style-position: inside;
    padding-left: 0;
    margin: 30px 0px;
}

li {
    margin-bottom: 10px;
}

/* li{
    display: inline-block;
    padding: 0 12px;
    border-right: solid 1px;
    margin: 80px 0;
} */

/*ID Selcetors*/

.callout {
    font-size: 1.25em;
    border-bottom: 3px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px #ffa949;
}

/*class elements can do what IDs do but can be used on more than 1 element unlike IDs*/

.primary-content,
.main-header {
    text-align: center;
}

.main-header {
    /* background-color: #ffa949;
    background-image: url('../../img/vegas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    padding-top: 170px;
    height: 850px;
    background: #ffa949 url('../../img/vegas.jpg') no-repeat center;
    background-size: cover;
}

.t-border{
    border-top: 2px solid lightgrey;
}

.title {
    color: white;
    font-size: 1.625rem; /* 26/16px = em */
 }

/*Desendant Selectors*/

/* ul li {
    margin-bottom: 5px;
}

ol li {
    margin-bottom: 5px;
} */

/*Psuedo Classes is a keyword we use to target an element in a specific state*/

a:link {
    color: rgb(255, 169, 73);
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: rgba(255, 169, 73, .4);
}

a:active {
    color: lightcoral;
}

:focus {
    color: white;
    background-color: orange;
}
/* ctrl forward slash to instand comment */
/* ID > Class > Element */

.primary-content, 
.seconday-content {
    width: 75%;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 900px;
}

.wildlife {
    color: white;
    background-color: #434a52;
    padding: 18% 12%;
    border-top: 10px solid #ffa949;
    margin: auto;
    /* 
    margin-top: 105px;
    margin-right: 0;
    margin-bottom: 60px;
    margin left: 0;
     */
}

.seconday-content{
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid #dfe2e6;
    /* overflow: auto; */
}

/* Floated Columns */

.resorts,
.heat{
    width: 46.5%;
}

.heat {
    float: left;
}

.resorts{
    float: right;
}


/* float clearfix */

.group:after{
    content: "";
    display: table;
    clear: both;
}